
name: CI
on:
  workflow_dispatch:
  push:
    branches: [ main ]
jobs: 
  build:
    runs-on: self-hosted
    steps:
     - uses: actions/checkout@v4
     - name: Run a one-line script
       run: echo Hello, world!
     - name: Run a multi-line script
       run: |
         echo " ======printing====builtin variables===="
         env
         pwd
         ls -lhtr
