name: java build and deploy
on:
  workflow_dispatch:
   inputs:
    version:
      description: 'Version to deploy'
      required: true  
      type: string
      default: 'v1.0.0-SNAPSHOT'  
permissions:
  contents: read
  id-token: write
  packages: write
jobs:
  build:
    runs-on: self-hosted
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Setup JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'
      - name: setup maven 
        uses: stCarolas/setup-maven@v5
        with:
          maven-version: '3.9.9'
      - name: Build with Maven
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GITHUB_ACTOR: ${{ github.actor }}
        run: |
          mvn clean test package deploy -s .mvn/settings.xml -Drevision=${{ inputs.version }}
      - name: upload jar
        uses: actions/upload-artifact@v4
        with:
          name: java-app-jar
          path: target/*.jar 
  deploy:
    needs: build
    runs-on: self-hosted
    steps:
      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: java-app-jar
          path: java-app-jar
      - name: Setup docker buildx
        uses: docker/setup-buildx-action@v3     
      - name: Login to ghcr artifact
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}    
      - name: Build and push Docker image
        run: |
          docker build -t ghcr.io/${{ github.repository_owner }}/java-app-demo:${{ github.run_number }} .
          docker push ghcr.io/${{ github.repository_owner }}/java-app-demo:${{ github.run_number }} 

        
          