name: java build and deploy
on:
  workflow_dispatch:
   inputs:
    version:
      description: 'Version to deploy'
      required: true  
      type: string
      default: 'v1.0.0-SNAPSHOT'  
permissions:
  contents: read
  id-token: write
  packages: write
jobs:
  build:
    runs-on: self-hosted
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Debug - Check file existence
        run: |
          ls -la addressbook/.mvn/ || echo ".mvn directory not found"
          find addressbook -name "settings.xml" -o -name ".mvn" 2>/dev/null || echo "No settings.xml found"
      - name: Setup JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'
      - name: setup maven 
        uses: stCarolas/setup-maven@v5
        with:
          maven-version: '3.9.9'
      - name: Build with Maven
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GITHUB_ACTOR: ${{ github.actor }}
        run: |
          cd addressbook
          mvn clean test package deploy -Drevision=${{ inputs.version }}
      - name: upload jar
        uses: actions/upload-artifact@v4
        with:
          name: java-app-jar
          path: addressbook/target/*.jar 
        
          