name: java build and deploy
on:
  workflow_dispatch:
   inputs:
    version:
      description: 'Version to deploy'
      required: true  
      type: string
      default: 'v1.0.0-SNAPSHOT'  
permissions:
  contents: read
  id-token: write
  packages: write
jobs:
  build:
    runs-on: self-hosted
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Setup JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'
      - name: setup maven 
        uses: stCarolas/setup-maven@v5
        with:
          maven-version: '3.9.9'
      - name: Create Maven settings.xml
        run: |
          mkdir -p addressbook/.mvn
          cat > addressbook/.mvn/settings.xml << 'EOF'
          <?xml version="1.0" encoding="UTF-8"?>
          <settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
                    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                    xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                                        https://maven.apache.org/xsd/settings-1.0.0.xsd">
            <servers>
              <server>
                <id>github</id>
                <username>${env.GITHUB_ACTOR}</username>
                <password>${env.GITHUB_TOKEN}</password>
              </server>
            </servers>
          </settings>
          EOF    
      - name: Build with Maven
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GITHUB_ACTOR: ${{ GITHUB_ACTOR }}
        run: |
          cd addressbook
          mvn clean test package deploy -s .mvn/settings.xml -Drevision=${{ inputs.version }}
      - name: upload jar
        uses: actions/upload-artifact@v4
        with:
          name: java-app-jar
          path: addressbook/target/*.jar 
        
          