name: secrets workflow
on:
  workflow_dispatch:
  push:
    branches: [ main ]
jobs: 
  build:
    runs-on: self-hosted
    steps:
     - uses: actions/checkout@v4
     - run: |
         echo "=====docker logiin using secrets====="
         echo ${{ secrets.DOCKER_USERNAME }} | docker login -u ${{ secrets.D